body{
  text-align:center;
  background:linear-gradient( #FFD740 0%,#FF9100 100%);
  background-repeat:no-repeat;
}
h1{
  text-shadow:2px 2px yellow;
  font-size:20px;
}
img{
  border-radius:50px;
  width:100px;
}
p{
  padding:20px;
  font-size:18;
  text-align:center;
}
.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}
.links{
    float: left;
    color: #fff; 
    padding-top: 5px; 
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family:fantasy;
    font-size: 20px
}
.links:hover{
    background-color: dodgerblue;
}
#img A P J abdul calam{
    height: 1000px;
    width: 500px;
}